* {
    margin: 0 auto;
    padding: 0 auto;
}
.fdiv {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding: 20px 0px 20px 0px;
}
.mid {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 40px;
}
.fhead {
    background-color: #FFFFFF;   
}
.herosec{
    background-image: url(banner.jpg);
    /* background-color: rgb(176, 176, 176); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    /* alination of writings */
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hero1st{
    justify-content: space-around;
    margin: 200px;
    color: white;
}
.hero2nd{
    margin-top: 50px;
    margin-bottom: 200px;
}
.button {
    border: solid 1px;
    border-radius: 10px;
    border-color: black;
    color: rgb(255, 255, 255);
    padding: 10px;
    align-items: center;
    text-decoration: black;
}
.intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 1300px;
    margin: 100px;
    
}
.pheader{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.all_package{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    gap: 5px;
    margin-top: 50px;
    margin-bottom: 200px;
}
.packagebox, .packageboxm{
    border: solid;
    border-radius: 20px;
    align-items: center;
    padding: 80px;
}
/* comment */
